.top{
    background-color: rgb(156, 156, 156);
}
h1 {
    font-weight: bold;
    padding:10px;
    margin-left:10px;
}

.nav-bar{
    display:flex;
    margin-left:5%;
    margin-top:0;
    
}

.nav-bar a{
    border:1px double black;
    padding:5px;
    margin-bottom: 20px;
    margin-left:1px;
}


.intro{
    display:flex;
    

}

.big-image{
    width:50%;
    margin:2px;
}

.info-box{
    padding:100px 40px;
    background-color: rgb(156, 156, 156);
    margin:2px;
}

h2{
    text-align: left;
}

.my-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.my-items img{
    width:20%;
    margin:2%; 
}

.contact-me{
    text-align: center;
    background-color: rgb(156, 156, 156);
    padding:10px;
}
